%tr.text
  %td{align: "center", valign: "middle"}
    %div
      = t('custom_passwords_mailer.reset_password_confirmation.greeting', name: (@user.account.display_name.presence || @user.account.username))

    %div
      = t('custom_passwords_mailer.reset_password_confirmation.instruction')

    #code
      = @user.otp_secret

    .note
      = t('custom_passwords_mailer.reset_password_confirmation.note')
