%tr.text
  %td{align: "center", valign: "middle"}
    %div
      = "Dear #{@user.account.display_name.presence || @user.account.username},"
    
    %div
      Your account verification OTP code is as below:
    
    #code
      = @user.otp_secret
    
    .note
      If you didn't request this, please ignore this email.
